.redcircle{
	width: 100px;
		height: 100px;
		background: red;
		-moz-border-radius: 100px;
		-webkit-border-radius: 1000px;
		border-radius:1000px;
}

.test {
	background-color: red;
	border: 1px solid blue;
	z-index: 100;
	border-radius: 50%;

}
